.container {
  border-bottom: 1px solid #444;
  padding: 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  background: #000;
  top: 0;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
}

.dropdown {
  transition: all 0.5s ease;
  height: 0;
  visibility: hidden;
}

.dropdown ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.dropdown li {
  margin-left: 10px;
}

.dropdown a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .logo {
    height: 40px;
    width: 40px;
  }
}
