.container {
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 250px;
}

.container h2 {
  position: relative;
}

.bee {
  position: absolute;
  rotate: 50deg;
  height: 55px;
  width: 55px;
  left: -60px;
  top: -25px;
}
