.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  background: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.icon:hover {
  background: orange;
  cursor: pointer;
}
