.container,
.basket {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 50px;
  flex-direction: column;
  border-bottom: 1px solid #333;
}

.container h1 {
  font-size: 7vw;
}

.container p {
  margin-top: 20px;
  text-align: center;
  font-size: 1.4vw;
  width: 70%;
  line-height: 30px;
}

.story {
  font-weight: 500;
}

.basket img {
  margin-top: 50px;
  width: 158.25px;
  height: 73.99px;
}
